{% extends "AccountingApp/base.html" %}
{% block content %}
    <div class="container">
        <div class="accountTypes">
            {% if accountTypes %}
                <table>
                    <thead>
                    <th>Code</th>
                    <th>Type Name</th>
                    <th>Main Type</th>
                    </thead>

                    {% for accountType in accountTypes %}
                        <tr>
                            <td>{{ accountType.code }}</td>
                            <td>{{ accountType.name }}</td>
                            <td>{{ accountType.main_code }}</td>
                        </tr>
                    {% endfor %}

                </table>
            {% endif %}
        </div>

        <div class="chartOfAccounts">
            {% if chartOfAccounts %}
                <table>
                    <thead>
                    <th>Code</th>
                    <th>Account Name</th>
                    <th>Type Of Account</th>
                    <th>Main Account</th>
                    </thead>

                    {% for chartOfAccount in chartOfAccounts %}
                        <tr>
                            <td>{{ chartOfAccount.code }}</td>
                            <td>{{ chartOfAccount.name }}</td>
                            <td>{{ chartOfAccount.type_code }}</td>
                            <td>{{ chartOfAccount.main_code }}</td>
                        </tr>
                    {% endfor %}

                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}