{% extends "AccountingApp/base.html" %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
           <table>
          {{ user_form.as_table }}
          {{ profile_form.as_table }}
               </table>
          <input type="submit" name="" value="Register">
        </form>

      {% endif %}

    </div>

  </div>
{% endblock %}
