{% extends "AccountingApp/base.html" %}
{% block content %}

    <div>
        <div class="container">
            <h1>New Transaction</h1>
            <form method="POST">
                <table>
                {{ transaction.as_table }}
                </table>
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" name="save_add_another" value="Save and add another">
                <input type="submit" class="btn btn-primary" name="save" value="Save">
                <a class="btn btn-default" href="{% url 'AccountingApp:all_transactions'%}"> Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}