{% extends "transactions/transaction_base.html" %}

{% load bootstrap3 %}
{% block trnx_content_4_2 %}
<h2> {% if object.id %} Edit {% else %} Add {% endif %} Transaction </h2>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% if object.id %}
        <input type="submit" value="Update" class="btn btn-primary btn-large">
        <a class="btn btn-danger" href="{#% url 'organizations:void-transaction' %#}"> Void </a>
    {% else %}
        <input type="submit" value="Add" class="btn btn-primary btn-large">
    {% endif %}

    <a class="btn btn-default" href="{{ view.get_success_url }}"> Cancel</a>

</form>

{% endblock %}
