<div class="org_accTypes">
    <h3>Chart of accounts</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <th> Code</th>
            <th> Type</th>
            <th> Dr Sign</th>
            <th> Cr Sign</th>
{#            <th> Main Account</th>#}
            <th> # Accounts</th>
            </thead>
            {% for accountType in organization.accountType_org_id.all %}
                <tr>
                    <td> {{ accountType.code }} </td>
                    <td> {{ accountType.name }} </td>
                    <td> {{ accountType.dr_sign }} </td>
                    <td> {{ accountType.cr_sign }} </td>
{#                    <td> {{ accountType.main_code.name }} </td>#}
                    <td> {{ accountType.ChartOfAccounts_type_code.count }} </td>
                    <td>
                        <a href="{% url 'organizations:create-account' org_id=accountType.org_id.id acc_typ_code_id=accountType.code %}"
                           title="Create New Account"><span class="glyphicon glyphicon-plus"></span></a>

                        <a href="{% url 'organizations:detail-account-type' org_id=accountType.org_id.id acc_typ_code=accountType.code pk=accountType.id %}"
                           title="Create New Account"><span class="glyphicon glyphicon-pencil"></span></a>

                    </td>


                </tr>

            {% endfor %}
        </table>
    </div>
</div>


