{% extends "organizations/organization_base.html" %}
{% load bootstrap3 %}

{% block org_content %}

    <ul class="list-group">
        <h3>{{ object.name }}</h3>
        <li class="list-group-item">Members: <span
                class="badge">{{ object.OrganizationMember_organization_id.count }}</span></li>
        <li class="list-group-item">Account Types: <span class="badge">{{ object.accountType_org_id.count }}</span></li>
        <li class="list-group-item">Accounts: <span class="badge">{{ object.accountType_org_id.count }}</span></li>
        <li class="list-group-item">Transactions: <span class="badge">{{ object.accountType_org_id.count }}</span></li>
    </ul>

{% endblock %}

{% block post_org %}
    {% if object.id %}
        <div class="col-md-8">
            {% if organization.OrganizationMember_organization_id.count == 0 %}
                <h2>No Members yet!</h2>
            {% else %}
                {% include "organizations/_member.html" %}
            {% endif %}
        </div>

        <div class="col-md-8">
            {% if organization.accountType_org_id.count == 0 %}
                <h2>No Account Types Defiened!</h2>
            {% else %}

                {#% if organization.accountType_org_id == 0 %#}
                {#% for x in organization.accountType_org_id.all %#}

                {#% endfor %#}

                {% include "organizations/_accountTypes.html" %}
            {% endif %}
        </div>
    {% endif %}


{% endblock %}
