{% extends "AccountingApp/base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            {% block org_content %}
                <div class="col-md-4">
                    {% block org_content_4_1 %}

                    {% endblock %}
                </div>
                <div class="col-md-4">
                    {% block org_content_4_2 %}

                    {% endblock %}
                </div>
                <div class="col-md-4">
                    {% block org_content_4_3 %}

                    {% endblock %}

                </div>
            {% endblock %}


            {% block related_org_content %}
                {% if object.id %}

                    <div class="col-md-12">
                        {% block members_content %}

                        {% endblock %}
                    </div>

                    <div class="col-md-6">
                        {% block chart_of_accounts_content %}

                        {% endblock %}
                    </div>

                    <div class="col-md-6">
                        {% block taxes %}

                        {% endblock %}
                    </div>

                    <div class="col-md-12">
                        {% block transactions_content %}

                        {% endblock %}
                    </div>
                {% endif %}
            {% endblock %}

        </div>
    </div>

{% endblock %}
