{% extends "tax/tax_base.html" %}

{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <h2> {% if object.id %} Edit {% else %} New {% endif %} Tax </h2>

        <form method="post">
            {% csrf_token %}
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                {% bootstrap_form form %}
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <h3>Components</h3>
                    <table class="table table-hover">

                        <thead>
                        <th> Description</th>
                        <th> Percentage %</th>
                        <th> Compound</th>

                        </thead>


                        {% for tax_component in tax_components %}
                            <tr>
                                {% for component in tax_component %}
                                    <td>
                                        {% if component.name != 'DELETE' %}
                                            {% bootstrap_field component %}
                                        {% else %}
                                            {% if object.id %}
                                                {% bootstrap_field component %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}


                    </table>


                </div>
                {{ tax_components.management_form }}
                <input type="submit" value="Save" class="btn btn-primary btn-large">
                <a class="btn btn-default" href="{{ request.META.HTTP_REFERER }}"> Cancel</a>
            </div>

        </form>

    </div>
{% endblock %}


