{% extends "AccountingApp/base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            {% block main_content %}
                <div class="col-md-4">
                    {% block content_4_1 %}{% endblock %}
                </div>
                <div class="col-md-4">
                    {% block content_4_2 %}{% endblock %}
                </div>
                <div class="col-md-4">
                    {% block content_4_3 %}{% endblock %}
                </div>
            {% endblock %}

            {% block related_content %}
                {% block transactions %}{% endblock %}
            {% endblock %}
        </div>
    </div>

{% endblock %}

